*
!ansible/
!ansible/**
!config/
!config/**
!img/
!img/**
!iterm2/
!iterm2/**
!vscode/
!vscode/**
!zsh/
!zsh/**
!.gitignore
!ansible.cfg
!init.sh
!poetry.*
!pyproject.toml
!README.md

.DS_Store
__pycache__
