#!/usr/bin/env zsh

if (( $+commands[git] )); then
  alias gs="git status"
  alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
fi

if (( $+commands[eza] )); then
  alias ls="eza -l"
  alias lsa="eza -al"
  alias lsal="eza -alh"
  alias tree="eza --tree"
fi

if (( $+commands[bat] )); then
  alias cat="bat -p --theme Nord"
fi

if (( $+commands[zoxide] )); then
  alias cd="z"
  alias cdp="z $HOME/Projects"
fi
